@model SamaraProject1.Models.Emprendedor

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Eliminar Emprendedor</h2>
        <h3 class="text-danger">¿Está seguro que desea eliminar este emprendedor?</h3>

        <dl class="row">
            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9">@Model.NombreEmprendedor</dd>

            <dt class="col-sm-3">Apellidos:</dt>
            <dd class="col-sm-9">@Model.Apellidos</dd>

            <dt class="col-sm-3">Nombre del Negocio:</dt>
            <dd class="col-sm-9">@Model.NombreNegocio</dd>

            <dt class="col-sm-3">Descripción del Negocio:</dt>
            <dd class="col-sm-9">@Model.DescripcionNegocio</dd>

            <dt class="col-sm-3">Teléfono:</dt>
            <dd class="col-sm-9">@Model.Telefono</dd>

            <dt class="col-sm-3">Correo:</dt>
            <dd class="col-sm-9">@Model.Correo</dd>

            <dt class="col-sm-3">Administrador:</dt>
            <dd class="col-sm-9">@Model.Administrador?.NombreAdministrador</dd>
        </dl>

        <form asp-action="Eliminar" method="post">
            <input type="hidden" asp-for="IdEmprendedor" />
            <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
            <a asp-action="Lista" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>